* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../font/AvenirNextCyr-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../font/AvenirNextCyr-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../font/AvenirNextCyr-Bold.woff2');
  font-weight: 700;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #fff;
  font-family: 'Avenir Next Cyr';
  font-weight: 400;
  position: relative;
}

.background {
  background: hsla(4, 55%, 57%, 1);
  background: linear-gradient(
    -150deg,
    hsla(4, 55%, 57%, 1) 14%,
    hsla(271, 52%, 36%, 1) 100%
  );
  background: -moz-linear-gradient(
    -150deg,
    hsla(4, 55%, 57%, 1) 14%,
    hsla(271, 52%, 36%, 1) 100%
  );
  background: -webkit-linear-gradient(
    -150deg,
    hsla(4, 55%, 57%, 1) 14%,
    hsla(271, 52%, 36%, 1) 100%
  );
}
/*////////////////////////////BANNER AND NAV/////////////////////////////////*/
.banner-section {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8%;
  text-align: center;
  position: relative;
}
.banner-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 153px;
}
.banner-section .content h1 {
  font-size: 130px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .banner-section .content h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 560px) {
  .banner-section .content h1 {
    font-size: 60px;
  }
}
.banner-section .scroll-helper {
  width: 139px;
  height: 139px;
  border-radius: 50%;
  border: 2px solid #48199f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 20px;
  animation: bounce 1.5s infinite;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 7% 0;
  z-index: 99;
}

.logo-mobile {
  display: none;
}
.logo-desktop {
  display: block;
}

.nav .nav-list {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}
.nav .nav-list .nav-item {
  font-size: 25px;
}

.nav .nav-list .nav-item .nav-link {
  display: inline-block;
}
.nav .nav-list .nav-item .nav-link img {
  margin-left: 3px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 30px 5% 0;
    .nav .logo img {
      width: 120px;
    }
  }
  .nav .nav-list .nav-item {
    font-size: 20px;
  }
  .logo-mobile {
    display: block;
  }
  .logo-mobile .logo a img {
    width: 100px;
  }
  .logo-desktop {
    display: none;
  }
  .nav .nav-list .nav-item .nav-link img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 580px) {
  .nav .nav-list {
    flex-direction: column;
    gap: 5px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*////////////////////////////WHAT SECTION/////////////////////////////////*/

.story-container {
  padding: 100px 10% 0;
  margin-bottom: 200px;
}
.story-container .content {
  display: flex;
  flex-direction: column;
}
.story-container .content p {
  font-size: 70px;
  line-height: 80px;
  display: block;
  margin: 0;
  align-self: center;
  max-width: 1400px;
  text-indent: 80px;
}

.story-container .content .margin-bottom {
  margin-bottom: 70px;
}

.story-container .content h2 {
  font-size: 150px;
  line-height: 133px;
  font-weight: 300;
  padding-top: 50px;
}
.story-container .content h2 span {
  display: inline-block;
  position: relative;
}
.story-container .content h2 span.tag {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}
.story-container .content h2 span.tag::after {
  content: '';
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #48199f;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 20px 40px;
}

.story-container .content h2 span:not(.tag) {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.story-container .content h2 span:not(.tag)::after {
  content: '';
  padding: 20px 40px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  border: 1px solid #fb8034;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.story-container .seperator {
  margin: 106px auto 80px;
}

@media screen and (max-width: 992px) {
  .story-container .content h2 {
    font-size: 100px;
    line-height: 103px;
  }
  .story-container .content p {
    font-size: 34px;
    line-height: 36px;
    text-indent: 0px;
  }
}
@media screen and (max-width: 767px) {
  .story-container {
    padding: 100px 10% 0;
    margin-bottom: 100px;
  }
  .story-container .content h2 {
    font-size: 60px;
    line-height: 63px;
  }
  .story-container .content h2 span.tag::after {
    padding: 10px 25px;
  }
  .story-container .content h2 span:not(.tag)::after {
    padding: 10px 25px;
  }
  .story-container .seperator {
    margin: 50px auto 50px;
  }
}
@media screen and (max-width: 560px) {
  .story-container {
    margin-bottom: 10px;
  }
  .story-container .content p {
    font-size: 24px;
    line-height: 26px;
    text-indent: 0px;
  }
  .story-container .content .margin-bottom {
    margin-bottom: 20px;
  }
  .story-container .content h2 {
    font-size: 30px;
    line-height: 33px;
    padding: 10px 0px;
  }
  .story-container .seperator {
    margin: 30px auto 30px;
  }
  .story-container .content h2 span:not(.tag) {
    margin-right: 15px;
  }
  .story-container .content h2 span:not(.tag)::after {
    padding: 5px 15px;
  }
}

/*////////////////////////////HORIZONTAL SCROLL SECTION/////////////////////////////////*/

.h-container {
  overflow-x: hidden;
}

.horizontal-scroll {
  display: flex;
  flex-wrap: no-wrap;
  width: 300%;
  overflow-x: hidden;
  position: relative;
}
.horizontal-scroll .slide {
  height: 100vh;
  width: 100%;
}

.unlimited-img {
  position: absolute;
  left: 30%;
  top: 20%;
  z-index: -9;
}

.unlimited {
  height: 100%;
}
.unlimited h2 {
  font-size: 60px;
  font-weight: 300;
  border: 1px solid #fb8034;
  border-radius: 100px;
  padding: 0 30px;
  width: max-content;
  margin-bottom: 30px;
}

.unlimited .text {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  row-gap: 40px;
  max-width: max-content;
  margin-bottom: 40px;
}
.unlimited .text p {
  font-size: 70px;
  line-height: 80px;
}
.unlimited .text img {
  padding-top: 20px;
}
.unlimited a {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 64px;
  width: max-content;
  color: #fb8034;
}
.unlimited a img {
  padding-top: 5px;
  margin-left: 30px;
  animation: bounceLink 2s infinite;
}
.unlimited.s1 {
  padding: 5% 0 0 30%;
}
.unlimited.s2 {
  padding: 3% 5%;
  display: flex;
  width: 100%;
  gap: 20%;
  position: relative;
}
.unlimited.s2 .flex-items:last-child {
  margin-top: 7%;
}

.unlimited.s3 {
  padding: 16.5% 6% 3% 5%;
  display: flex;
  width: 100%;
  gap: 20%;
}
.unlimited.s3 .flex-items:last-child {
  margin-top: 11%;
}
.line-container {
  position: absolute;
  width: 0;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 10% 20%;
}

.line {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 300vw;
  height: 80vh;
}
@media screen and (max-width: 1400px) {
  .unlimited.s3 {
    gap: 10%;
  }
}
@media screen and (max-width: 1300px) {
  .unlimited h2 {
    font-size: 40px;
  }
  .unlimited .text p {
    font-size: 50px;
    line-height: 60px;
  }
  .unlimited .text img {
    width: 50px;
    height: 50px;
  }
  .unlimited a {
    font-size: 20px;
    margin-left: 50px;
  }
  .unlimited a img {
    width: 20px;
    height: 20px;
  }
  .unlimited.s2 {
    flex-direction: column;
    gap: 10%;
  }
  .unlimited.s2 .flex-items:last-child {
    margin-top: 2%;
    margin-left: auto;
  }
  .unlimited.s3 {
    flex-direction: column;
    padding: 5% 5% 3% 5%;
  }
  .unlimited.s3 .flex-items:last-child {
    margin-top: 20%;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .unlimited h2 {
    font-size: 30px;
  }
  .unlimited .text p {
    font-size: 30px;
    line-height: 40px;
  }
  .unlimited .text img {
    width: 30px;
    height: 30px;
  }
  .unlimited.s1 {
    padding: 10% 5% 0;
  }
  .line-container {
    width: 300vw;
    padding: 0;
    margin: 0;
  }
  .line {
    transform: translateY(-100px);
  }
}
@media screen and (max-width: 560px) {
  .unlimited .text p {
    font-size: 20px;
    line-height: 24px;
  }
  .unlimited .text {
    margin-bottom: 10px;
  }
  .unlimited a {
    font-size: 18px;
  }
  .unlimited h2 {
    font-size: 24px;
    margin: 10px 0px;
    padding: 0 10px;
  }
}

@keyframes bounceLink {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

.campaign {
  height: 400vh;
  padding: 4% 6%;
  position: relative;
  margin-bottom: 200px;
}

.campaign-h1-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.campaign-h1-container h1 {
  font-size: 270px;
  line-height: 280px;
}

.campaign-card-vertical {
  position: absolute;
  width: 350px;
  height: 460px;
  border-radius: 50px;
}

.campaign-card-horizontal {
  position: absolute;
  width: 520px;
  height: 380px;
  border-radius: 50px;
}

#campaign-card-01 {
  top: 30%;
  left: 50%;
  right: 50%;
  transform: translate(-200%, -50%);
  z-index: 1;
}

#campaign-card-02 {
  top: 38%;
  left: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 3;
}

#campaign-card-03 {
  top: 48%;
  left: 50%;
  right: 50%;
  transform: translate(-150%, -50%);
  z-index: 1;
}

#campaign-card-04 {
  top: 60%;
  left: 50%;
  right: 50%;
  transform: translate(25%, -50%);
  z-index: 3;
}

#campaign-card-05 {
  top: 68%;
  left: 50%;
  right: 50%;
  transform: translate(-150%, -50%);
  z-index: 1;
}

#campaign-card-06 {
  top: 75%;
  left: 50%;
  right: 50%;
  transform: translate(0%, -50%);
  z-index: 3;
}

.white {
  background: white;
}
.white .white-content {
  padding: 86px 6% 0;
}
@media screen and (max-width: 992px) {
  .white .white-content {
    padding: 30px 6% 0;
  }
}
.white .white-content.no-space {
  padding: 0;
}
.white .white-content.no-space-top {
  padding-top: 0;
}
.white h2 {
  font-size: 150px;
  line-height: 160px;
  color: #000;
  margin-bottom: 100px;
  font-weight: 400;
}
@media screen and (max-width: 1030px) {
  .white h2 {
    font-size: 100px;
    line-height: 110px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .white h2 {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 545px) {
  .white h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}
.white h2 span {
  position: relative;
}
.white h2 span::after {
  content: '';
  padding: 0 18px;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  border: 1px solid #fb8034;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1030px) {
  .white h2 span::after {
    padding: 0 10px;
  }
}
@media screen and (max-width: 767px) {
  .white h2 span::after {
    padding: 0 5px;
  }
}
@media screen and (max-width: 545px) {
  .white h2 span::after {
    padding: 0 3px;
  }
}

.seperator-b {
  height: 1px;
  background: #000;
  margin: 20px 0;
}

.socials {
  color: #000;
}
.socials h3 {
  font-size: 25px;
  font-weight: 500;
  padding: 0 6%;
}
@media screen and (max-width: 992px) {
  .socials h3 {
    font-size: 20px;
  }
}
.socials ul {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 50px;
  font-weight: 500;
  padding: 0 6%;
}
@media screen and (max-width: 1480px) {
  .socials ul {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .socials ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
}
.socials ul a {
  display: block;
  border: 1px solid #fb8034;
  border-radius: 100px;
  padding: 5px 30px;
  color: #fb8034;
  transition: all 0.4s ease;
}
.socials ul a:hover {
  background: #fb8034;
  color: white;
}

.footer {
  background: white;
  color: #000;
  position: relative;
  font-weight: 500;
}
.footer ul {
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .footer ul {
    font-size: 20px;
  }
}
.footer ul span {
  font-size: 25px;
  display: block;
  margin-bottom: 10px;
}
.footer .fp-scroller {
  height: 100%;
}
.footer .fp-tableCell {
  height: 100% !important;
}
.footer .links a {
  display: block;
  margin-bottom: 20px;
}

.footer-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 133px 6% 0;
}
@media screen and (max-width: 992px) {
  .footer-items {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
  }
}

.bootom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  padding: 60px 6% 30px;
}
@media screen and (max-width: 540px) {
  .bootom-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 6% 30px;
  }
  .bootom-footer .copy {
    text-align: center;
  }
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.marquee {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
  position: absolute;
  top: 55%;
  transform: translate(0, -50%);
  z-index: 9;
}
.marquee h3 {
  font-size: 300px;
  font-weight: 300;
  white-space: nowrap;
  text-transform: uppercase;
  align-self: center;
}

.marquee-bottom {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  gap: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
}
.marquee-bottom h3 {
  font-size: 12.5vw;
  color: #48199f;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  align-self: center;
}

.video-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.video-holder video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.underline {
  position: relative;
}
.underline::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
}

/*common*/
.seperator {
  width: 100%;
  background-color: #fff;
}
